@use './variables'


.root, .ant-modal-root
    .ant-pagination-item-active
        border-color: transparent !important
    
    .themed
        .ant-pagination
            margin-left: 10px
            
            flex-shrink: 0
            
            .ant-pagination-item
                background-color: unset
            
            .ant-pagination-item a
                color: variables.$color !important
            
            .ant-pagination-item-active
                background-color: variables.$background-color !important
                border: 0px
                font-weight: bold
                
                a
                    margin-top: 1px
                    color: variables.$line-number-active-foreground-color !important
            
            .ant-pagination-item-ellipsis
                color: variables.$color !important
            
            .ant-pagination-item-link
                color: variables.$font-color !important
            
            .ant-pagination-item-link-icon
                color: variables.$font-color !important
            
            .ant-pagination-disabled svg
                color: variables.$color !important
            
            .ant-pagination-options
                color: variables.$font-color !important
                display: inline-block !important
                
                input
                    background-color: variables.$input-background-color !important
                    color: variables.$input-foreground-color !important
            
                .ant-select
                    color: variables.$font-color
                    
                    .ant-select-selector
                        background-color: variables.$background-color !important
                        border-color: variables.$background-color !important
                    
                    .ant-select-arrow
                        color: variables.$font-color !important
                    
                    .ant-select-dropdown
                        background-color: variables.$dropdown-background-color !important
                        color: variables.$dropdown-foreground-color !important
                        border: 1px solid variables.$dropdown-border-color !important
                    
                    .ant-select-item 
                        color: variables.$dropdown-foreground-color !important
                    
                    .ant-select-item-option-active
                        background-color: variables.$dropdown-active-background-color !important
                    
                    .ant-select-item-option-selected
                        background-color: variables.$dropdown-selected-background-color !important
                        color: variables.$font-color !important
                    
                    .ant-select-selection-item
                        color: variables.$font-color !important
                
                .ant-select:not(.ant-select-disabled):hover .ant-select-selector
                    border-color: #707070
                
                .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector
                    box-shadow: unset
                    
                .ant-select-single.ant-select-open .ant-select-selection-item
                    color: variables.$font-color
                    
                .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
                    background-color: variables.$dropdown-selected-background-color !important
                    
                .ant-pagination-options-quick-jumper
                    input
                        border-color: variables.$border-color
                    
                    input:hover
                        border-color: #707070
                        
                    input:focus, input-focused
                        border-color: #707070
                        box-shadow: unset

.empty-placeholder
    height: 80px
