@import './variables.sass'


html, body
    margin: 0
    padding: 0
    height: 100%
    overscroll-behavior-y: contain
    background-color: $background-color
    color: $color
    
*, :before, :after
    box-sizing: border-box

.root
    font-size: 20px
    
    height: 100%
    
    .ant-app
        color: $font-color
    
    .app
        height: 100%
    
