html, body
    margin: 0
    padding: 0
    height: 100%
    overscroll-behavior-y: contain
    color: #000000
    
*, :before, :after
    box-sizing: border-box

.root
    height: 100%
    
    padding: 10px
    
    font-size: 20px
    
    .app
        height: 100%
    