node_modules/

/out/
/test/

/*.js
/*.js.map
/*.zip
/*.vsix

/.vscode/settings.json
/.eslintrc.schema.json

/docs.zh.json
/docs.en.json

/i18n/*.js
/i18n/*.js.map
/i18n/stats.json
/i18n/untranslateds.json

!/prepare.js

/workspace
!/workspace/.vscode/*