$color: var(--vscode-editor-foreground, #000000)
$border-color: var(--vscode-tree-tableColumnsBorder, rgba(97, 97, 97, 0.13))
$background-color: var(--vscode-editor-background, #ffffff)
$icon-color: var(--vscode-editorGroupHeader-tabsBackground, #888888)
$hover-color: var(--vscode-sideBar-background, #f8f8f8)
$table-head-color: var(--vscode-sideBar-background, #eeeeee)
$font-color: var(--vscode-editor-foreground, #000000)

$dropdown-background-color: var(--vscode-dropdown-background, #ffffff)
$dropdown-foreground-color: var(--vscode-dropdown-foreground, #000000d9)
$dropdown-border-color: var(--vscode-dropdown-border, #ffffff)
$dropdown-active-background-color: var(--vscode-inputOption-hoverBackground, #f5f5f5)
$dropdown-selected-background-color: var(--vscode-editor-selectionBackground, #eeeeee)

$input-background-color: var(--vscode-input-background, #ffffff)
$input-foreground-color: var(--vscode-input-foreground, #000000d9)

$line-number-foreground-color: var(--vscode-editorLineNumber-foreground, #000000d9)
$line-number-active-foreground-color: var(--vscode-editorLineNumber-activeForeground, #000000)


.vector, .table, .matrix
    user-select: text
    
    .ant-table-wrapper
        overflow-x: auto
    
    .pagination
        margin: 2px 0px
    
    table
        text-align: right
        
        word-break: keep-all
        
        white-space: nowrap
    
    .row-head
        background-color: $table-head-color !important
        font-weight: bold
        
        // table 中的 height 等价于 min-height: https://stackoverflow.com/questions/19432092/can-i-use-a-min-height-for-table-tr-or-td
        height: 22px
    
    thead
        th.ant-table-cell
            text-align: center
            font-weight: bold
            
        .type
            font-weight: normal
            color: $icon-color !important
            font-size: 12px
            
        &.ant-table-thead > tr > th
            padding: 4px 8px
    
.bottom-bar
    display: flex
    
    align-items: center
    
    min-height: 0px
    
    .info
        font-size: 16px
        
        display: flex
        
        .name
            margin-left: 8px
            font-weight: bold
            
    .actions
        display: flex
        
        align-items: center
        
        margin-left: 10px
        
        .icon-link, .pause-play
            color: #888888
        
        .icon-link
            margin-right: 10px
            font-size: 28px
        
        .pause-play
            font-size: 20px
        
        
    .ant-pagination
        margin-left: 10px
        
        .ant-pagination-item a
            color: $color !important
        
        .ant-pagination-item-active
            background-color: $background-color !important
            border: 0px
            font-weight: bold
            
            a
                margin-top: 1px
                color: $line-number-active-foreground-color !important
        
        .ant-pagination-item-ellipsis
            color: $color !important
        
        .ant-pagination-item-link
            color: $font-color !important
        
        .ant-pagination-item-link-icon
            color: $font-color !important
        
        .ant-pagination-disabled svg
            color: $color !important
        
        .ant-pagination-options
            color: $font-color !important
            display: inline-block !important
            
            input
                background-color: $input-background-color !important
                color: $input-foreground-color !important
        
        
    .ant-select
        color: $font-color
        
        .ant-select-selector
            background-color: $background-color !important
            border-color: $background-color !important
        
        .ant-select-arrow
            color: $font-color !important
        
        .ant-select-dropdown
            background-color: $dropdown-background-color !important
            color: $dropdown-foreground-color !important
            border: 1px solid $dropdown-border-color !important
        
        .ant-select-item 
            color: $dropdown-foreground-color !important
        
        .ant-select-item-option-active
            background-color: $dropdown-active-background-color !important
        
        .ant-select-item-option-selected
            background-color: $dropdown-selected-background-color !important
            color: $font-color !important
        
        .ant-select-selection-item
            color: $font-color !important
    
    .ant-select:not(.ant-select-disabled):hover .ant-select-selector
        border-color: #707070

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector
        box-shadow: unset
        
    .ant-select-single.ant-select-open .ant-select-selection-item
        color: $font-color
        
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
        background-color: $dropdown-selected-background-color !important
        
    .ant-pagination-options-quick-jumper
        input
            border-color: $border-color
        
        input:hover
            border-color: #707070
            
        input:focus, input-focused
            border-color: #707070
            box-shadow: unset
            
        
    
.result
    height: 100%
    
    overflow-y: auto
    
    .ant-table
        background-color: $background-color !important
    
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td
        padding: 1px 8px
        color: $font-color
        border-color: $border-color !important

    .ant-table-thead > tr > th
        text-align: center !important
        
    
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table
        border-color: $border-color !important
    
    .ant-table.ant-table-bordered > .ant-table-container
        border-color: $border-color !important
    
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover
        background-color: $hover-color !important
    
    .ant-table-tbody > tr.ant-table-placeholder:hover > td
        background-color: $background-color !important
        
    .ant-table-tbody > tr > td
        transition: none

    .ant-table-thead > tr > th
        background-color: $table-head-color !important
        
    .ant-table table
        width: unset
    
    .ant-empty-normal
         color: $font-color !important
         
         .ant-empty-img-simple-path, .ant-empty-img-simple-ellipse
            fill: $background-color
    
.chart
    height: 100%
    display: flex
    flex-direction: column
    
    .chart-title
        min-height: 0px
        text-align: center
    
    .chart-body
        flex: 1
        min-height: 0px
    
.dict
    .ant-tree-node-content-wrapper
        user-select: text
    
    .ant-tree-show-line .ant-tree-indent-unit::before
        border-right: unset !important
    
    .ant-tree-show-line .ant-tree-switcher
        background: $background-color
    
    .ant-tree
        transition: unset !important
        
        color: $font-color
        
        background-color: $background-color
        
        .ant-tree-node-content-wrapper 
            transition: unset !important
        
        .ant-tree-node-content-wrapper.ant-tree-node-selected
            background-color: unset !important
            
        .ant-tree-node-content-wrapper:hover
            background-color: unset !important
            
        .ant-tree-switcher-noop
            visibility: hidden
        