.vector, .table, .matrix
    .table
        overflow-x: auto
    
    .pagination
        margin: 8px 0px
    
    table
        text-align: right
        
        word-break: keep-all
        
        white-space: nowrap
    
    .row-head
        background-color: #fafafa
        font-weight: bold
    
    thead
        th.ant-table-cell
            text-align: center
            font-weight: bold
            
        .type
            font-weight: normal
            color: #888888
            font-size: 12px
            
        &.ant-table-thead > tr > th
            padding: 4px 8px
    
    .bottom-bar
        padding: 8px 0px
        
        display: flex
        
        justify-content: space-between
        
        align-items: center
        
        .actions
            flex: 1
            
            display: flex
            
            align-items: center
            
            justify-content: flex-end
            
            .icon-link
                color: #444444
                font-size: 28px


.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td
    padding: 2px 8px

.ant-pagination-options-quick-jumper
    margin-left: 20px
    
